.SearchDiv{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding-left: 40px;

    /* flex-direction: column; */
}

.searchButton{
    margin: 20px;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weatherTemp{
    margin-bottom: 0px;
}
.weatherDescription{
    margin-top: 0px;
}
